.result {
  background: #dcf6dc;
  color: #0a6930;
  border-bottom: 1px solid #0a6930;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result p {
  margin-top: 2px;
}

.result:last-of-type {
  border-bottom: none;
}

.result svg {
  cursor: pointer;
}
