.searchInput {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.searchInput input {
  padding: 0 5px;
  height: 3.6rem;
  width: 70%;
  border-radius: 5px 0 0 5px;
  border: #fff;
  font-size: 1.3rem;
  outline-color: #90d08f;
}
