input {
  background: #fff;
  width: 853px;
  height: 53px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 1.3rem;
}

input:focus {
  outline: none;
}

.searchInput {
  position: relative;
  display: inline-block;
}

.searchInput button {
  position: absolute;
  right: 0px;
  top: 0px;
}
