@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #90d08f;
}

#main {
  font-family: "Inter", "sans-serif";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  height: 85%;
  width: 85%;
}

#panels {
  margin-top: 4.5rem;
  display: flex;
  justify-content: space-between;
}
